{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %}myGenAI Quant App{% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
<a class="navbar-brand" href="{% url 'home' %}">myGenAI Quant App</a>
<div class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto">
<li class="nav-item"><a class="nav-link" href="{% url 'basics:home' %}">Basics</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'interest_rate_curves:home' %}">Interest-Rate Curves</a></li>
<li class="nav-item"><a class="nav-link disabled" href="#">Interest-Rate Models</a></li>
<li class="nav-item"><a class="nav-link disabled" href="#">Equity Models</a></li>
<li class="nav-item"><a class="nav-link disabled" href="#">Bonds</a></li>
</ul>
</div>
</div>
</nav>
<main class="container mt-4 flex-grow-1">
{% block page_content %}{% endblock %}
</main>
<footer class="footer bg-dark text-white mt-auto p-3 text-center">
&copy; {% now "Y" %} QL Django App
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}