{% extends "equity_models/base.html" %}

{% block title %}Chapter 23: Heston Parameter Calibration - {{ block.super }}{% endblock %}

{% block sub_page_content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">
                    <i class="bi bi-gear me-2"></i>Chapter 23: Heston Parameter Calibration
                </h4>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <h5 class="alert-heading">Advanced Parameter Estimation Techniques</h5>
                    <p>This chapter covers advanced techniques for calibrating Heston model parameters using market data.</p>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <h5>Features:</h5>
                        <ul>
                            <li>Maximum Likelihood Estimation</li>
                            <li>Least Squares Optimization</li>
                            <li>Genetic Algorithm Calibration</li>
                            <li>Parameter Stability Analysis</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Coming Soon:</h5>
                        <p>This chapter is currently under development. Advanced parameter calibration techniques will be implemented here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


