{% extends "base.html" %}

{% block title %}Interest-Rate Models - {{ block.super }}{% endblock %}

{% block page_content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 border rounded">
        <span class="navbar-brand small font-weight-bold">Interest-Rate Models</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- ======================================================= -->
                <!-- LA LISTE DE CHAPITRES  EST ICI -->
                <!-- ======================================================= -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_models:chapter_hull_white:hull_white_simulation' %}">15. Simulating interest rates...</a>
                </li>
                <li class="nav-item">
    <a class="nav-link" href="{% url 'interest_rate_models:chapter_mc_convergence:convergence_lab' %}">16. Thoughts on convergence...</a>
</li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_models:chapter_calibration:calibration_lab' %}">17. Short-rate model calibration</a>
                </li>
                  <li class="nav-item">
        <a class="nav-link" href="{% url 'interest_rate_models:chapter_par_vs_indexed:coupon_lab' %}">18. Par versus indexed coupons</a>
    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_models:swap:pricer' %}">19. Modeling interest rate swaps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_models:chapter_caps_floors:parity_lab' %}">20. Caps and floors</a>
                </li>
            </ul>
        </div>
    </nav>
    
    {% block sub_page_content %}
        <div class="alert alert-info">
            <h4 class="alert-heading">Welcome to the Interest-Rate Models Section!</h4>
            <p>This section covers advanced models for simulating the evolution of interest rates. Please select a chapter from the menu above.</p>
        </div>
    {% endblock %}
</div>
{% endblock %}