{% extends "base.html" %}

{% block title %}Interest-Rate Curves - {{ block.super }}{% endblock %}

{% block page_content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 border rounded">
        <span class="navbar-brand small font-weight-bold">Interest-Rate Curves</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_curves:chapter_eonia_curve:eonia_lab' %}">EONIA curve bootstrapping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_curves:chapter_euribor_curve:euribor_lab' %}">Euribor curve bootstrapping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_curves:chapter10_treasury_curve:curve_lab' %}">Constructing a yield curve</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_curves:chapter_day_count:day_count_lab' %}">Dangerous day-count conventions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interest_rate_curves:chapter_implied_curve:implied_curve_lab' %}">Implied term structures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted" href="#">Interest-rate sensitivities (Todo)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted" href="#">A glitch in forward-rate curves (Todo)</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- "Trou" pour le contenu du chapitre -->
    {% block sub_page_content %}{% endblock %}
</div>
{% endblock %}